.container {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #4a148c, #880e4f);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
  }

.loginContainer {

        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
}

.loginContainer input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b41c7a;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginContainer button {
    background-color: #b41c7a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.loginContainer button:hover {
    background-color: #e968de;
}

.h2 {
    color: #fff;
    text-align: center;
}